/** ADD YOUR AWESOME CODES HERE **/

/* GENERAL */
#weAu h1,
#weAu-landing h1,
#passion-foot h1,
#llep h1 {
  font-family: "Roboto Slab";
}

#weAu h2,
#weAu-landing h2,
#passion-foot h2,
#llep h2 {
  font-size: 1.7rem;
  font-weight: 500;
}

h3:after,
#weAu h2:after,
#weAu-landing h2:after,
#passion-foot h2:after,
#llep h2:after {
  content: "";
  display: block;
  height: 3px;
  background: #1481ba;
  width: 8%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

a {
  color: #6c757d;
}

a:hover {
  color: #1481ba;
}

/* COLOR */
.tech-logo {
  font-size: 1.5rem;
  color: #1481ba;
  width: 28.8px;
}

.fa-refresh {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.footer-logo {
  font-size: 3rem;
  color: #ffffff;
}

.blue-color,
.footer-logo:hover {
  color: #1481ba;
}

.main-color {
  color: #1481ba;
}

::selection,
.blue-bg {
  background-color: #1481ba;
  color: white;
}

.experience-bg {
  background-color: #f2f3f5;
}

/* FONT-SIZE*/
.cd-headline {
  font-size: 30px;
  font-family: "Roboto Mono";
}

.code-icon {
  font-size: 2.8rem;
}

.ml3 {
  font-weight: 900;
  font-size: 3.5em;
}

/* PADDING-MARGIN */
.top-padding {
  padding-top: 62px;
}

.post-box ul {
  padding: 0;
}

.heading p {
  padding: 15px 0;
}

/* HOVER */
.post-box {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.post-box:hover {
  box-shadow: 0 14px 28px rgba(177, 193, 162, 0.35),
    0 10px 10px rgba(177, 193, 162, 0.32);
}

/* IMAGES */
.img-overlay img {
  filter: grayscale(4);
  -webkit-filter: grayscale(14);
}

.photo-gris img:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}
